<a href="https://colab.research.google.com/github/LucasFreitas98/Data-Science/blob/main/exploring_SkLearn_library.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import sklearn

In [21]:
from sklearn import datasets

iris = datasets.load_iris
iris

In [27]:
import pandas as pd
batimentos = pd.read_csv('https://gist.githubusercontent.com/davidneves11/d72e7f49ab01c856acc5d07be4b1a9dd/raw/37631e3a40da92e6261c00fffdf0fb9b869b35dd/batimentos%2520cardiacos.csv',sep=',')
batimentos.head()

       Idade        Peso  Horas de atividade  Batimentos cardiacos
0  44.247295   53.591343            3.397836             82.307425
1  81.427930  172.569375           33.142344            179.045377
2  50.807130   74.582817            8.645704            103.522796
3  55.778712   90.491878           12.622969            114.239779
4  53.790400   84.129280           11.032320            107.184063

In [28]:
diabetes = pd.read_csv('https://gist.githubusercontent.com/davidneves11/944edb5ecb7bf6d1770eae91cb20d049/raw/50d3d054185815b0c49561f94badedc06ef3c313/diabetes.csv')
diabetes.head()

,quantidade_gravidez,concentracao_glicose,pressao,espessura_triceps,insulina,imc,diabetes_pedigree,idade,resultado
0,6,148,72,35,0,33.6,0.627,50,testado_positivo
1,1,85,66,29,0,26.6,0.351,31,testado_negativo
2,8,183,64,0,0,23.3,0.672,32,testado_positivo
3,1,89,66,23,94,28.1,0.167,21,testado_negativo
4,0,137,40,35,168,43.1,2.288,33,testado_positivo

In [25]:
colesterol = pd.read_csv('https://gist.githubusercontent.com/davidneves11/01b2963f7a8dfd87d79010fbf847b221/raw/685870f4365bcda4e5bb9e342285e0aac37dd556/colesterol.csv')
colesterol.head()

,idade,genero,tipo_dor_peito,pressao_sanguinea_repouso,acucar_jejum,resultado_eletrocardio,freq_cardio_max,angina_exercicio,depressao_induzida_exercicio,inclinacao,num_princ_vasos,thal,diag_doenca_cardiaca,colesterol
0,63,1,1,145,1,2,150,0,2.3,3,0,6,0,233
1,67,1,4,160,0,2,108,1,1.5,2,3,3,2,286
2,67,1,4,120,0,2,129,1,2.6,2,2,7,1,229
3,37,1,3,130,0,0,187,0,3.5,3,0,3,0,250
4,41,0,2,130,0,2,172,0,1.4,1,0,3,0,204

In [30]:
x = diabetes['idade']
y = diabetes['resultado']

In [ ]:
from sklearn.model_selection import train_test_split

#x é o dado de entrada, colunas que vão influenciar no nosso modelo
#y é a coluna que estamos querendo prever
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y)